Repository stanford-crfm/levanter: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-toml, ruff

check-yaml:
  name: check-yaml
  entry: check-yaml
  language: python
  args:
  - --unsafe

check-toml:
  name: check-toml
  entry: check-toml
  language: python

ruff:
  name: ruff
  entry: ruff check
  language: system
  args:
  - --fix
  - --exit-non-zero-on-fix

more ergonomic ray_tpu
  src/levanter/infra/ray_tpu.py
  tests/test_ray_tpu.py
Due: ruff

stupid mypy
  src/levanter/infra/ray_tpu.py
Due: ruff

WIP debugging
  405b_foward.md
  config/books/eval_careless_llama3.1_405b_hp1.yaml
  docker/tpu/Dockerfile.marin_incremental
  infra/launch.py
  src/levanter/infra/docker.py
  tensor_parallel.ipynb
Due: check-yaml, ruff

hacky tensor parallel
  src/levanter/main/eval_careless_profiled.py
  src/levanter/utils/jax_utils.py
Due: ruff

docs: document tpu_remote decorator
  docs/reference/Ray-TPU.md
  mkdocs.yml
  src/levanter/infra/ray_tpu.py
Due: check-yaml, ruff

wip
  CLAUDE.md
  config/books/eval_careless_llama3.1_405b_hp1.yaml
  config/books/eval_careless_llama3.1_8b.yaml
  docker/tpu/Dockerfile.marin_incremental
  src/levanter/infra/docker.py
  src/levanter/main/eval_careless_lm.py
Due: check-yaml, ruff

Add token-level evaluation mode (#1117)
  405b_foward.md
  CLAUDE.md
  config/books/eval_careless_llama3.1_405b_hp1.yaml
  config/books/eval_careless_llama3.1_8b.yaml
  docker/tpu/Dockerfile.marin_incremental
  infra/launch.py
  src/levanter/books/util.py
  src/levanter/infra/docker.py
  src/levanter/main/eval_careless_profiled.py
  src/levanter/utils/jax_utils.py
  tensor_parallel.ipynb
Due: check-yaml, ruff

figured out haliax on docker
  405b_foward.md
  CLAUDE.md
  config/books/eval_careless_llama3.1_405b_hp1.yaml
  config/books/eval_careless_llama3.1_8b.yaml
  docker/tpu/Dockerfile.marin_incremental
  docs/haliax_cheatsheet.md
  install_local_haliax.md
  src/levanter/books/util.py
  src/levanter/infra/docker.py
  src/levanter/main/eval_careless_lm.py
  src/levanter/main/eval_careless_profiled.py
  src/levanter/main/eval_sliding_lm.py
  src/levanter/utils/jax_utils.py
Due: check-yaml, ruff

Add multi-book YAML and auto naming for eval outputs
  config/books/eval_sliding_total.yaml
  src/levanter/main/eval_careless_lm.py
  src/levanter/main/eval_sliding_total.py
Due: check-yaml, ruff

doc: explain eval batch size
  config/books/eval_sliding_total.yaml
  src/levanter/main/eval_sliding_total.py
Due: check-yaml, ruff

wip
  405b_foward.md
  infra/launch.py
  install_local_haliax.md
  src/levanter/infra/docker.py
Due: ruff

docs: note auto generation of book paths
  src/levanter/main/eval_sliding_total.py
Due: ruff

fix eval_sliding_total config parsing
  src/levanter/main/eval_sliding_total.py
Due: ruff

Run careless evaluation over multiple books in a single pass
  src/levanter/main/eval_sliding_total.py
Due: ruff

Flatten sliding evaluation config
  config/books/eval_sliding_total.yaml
  src/levanter/main/eval_sliding_total.py
Due: check-yaml, ruff

stop sequences! almost decent decode state!
  src/levanter/inference/jit_scheduler.py
  src/levanter/main/sample_lm.py
  tests/inference/test_decode_state.py
Due: ruff

wip
  405b_foward.md
  CLAUDE.md
  config/books/eval_careless_llama3.1_405b_hp1.yaml
  config/books/eval_sliding_total_llama3.1_8b.yaml
  config/books/us-east1/eval_careless_llama3.1_70b_gatsby.yaml
  docs/haliax_cheatsheet.md
  src/levanter/books/util.py
  src/levanter/infra/docker.py
  src/levanter/main/eval_careless_lm.py
  src/levanter/main/eval_careless_profiled.py
  src/levanter/main/eval_sliding_total.py
  src/levanter/utils/jax_utils.py
Due: check-yaml, ruff

Add multi-book sliding evaluation (#1122)
  config/books/eval_sliding_total.yaml
  config/books/eval_sliding_total_llama3.1_8b.yaml
  config/books/us-east1/eval_careless_llama3.1_70b_gatsby.yaml
  src/levanter/infra/docker.py
  src/levanter/main/eval_careless_lm.py
  src/levanter/main/eval_sliding_total.py
Due: check-yaml, ruff

moar fixes
  src/levanter/infra/ray_tpu.py
  tests/test_ray_tpu.py
Due: ruff

Working (kind of)
  src/levanter/infra/ray_tpu.py
  tests/test_ray_tpu.py
Due: ruff

Qwen3Configs Weren't Automapped
  src/levanter/models/qwen.py
Due: ruff

us-east1
  config/books/us-east1/eval_careless_llama3.1_70b_gatsby.yaml
  docker/tpu/Dockerfile.marin_incremental_east1
Due: check-yaml

fixed multiple sequences
  src/levanter/inference/jit_scheduler.py
  src/levanter/main/sample_lm.py
  tests/test_jit_scheduler.py
Due: ruff

wip
  config/books/us-east1/eval_careless_llama3.1_70b_gatsby.yaml
  docker/tpu/Dockerfile.marin_incremental
  docker/tpu/Dockerfile.marin_incremental_east1
  src/levanter/infra/docker.py
  src/levanter/infra/tpus.py
  src/levanter/main/eval_careless_lm.py
  src/levanter/utils/jax_utils.py
Due: check-yaml, ruff

HFCheckpointConverter for Qwen3 Models (#1123)
  src/levanter/models/qwen.py
Due: ruff

running on marin
  405b_foward.md
  config/books/eval_sliding_total_llama3.1_8b.yaml
  infra/launch.py
  src/levanter/main/eval_careless_lm.py
  src/levanter/main/eval_lm.py
  src/levanter/main/marin_eval_sliding_total.py
  src/levanter/trainer.py
  src/levanter/utils/jax_utils.py
  tensor_parallel.ipynb
Due: check-yaml, ruff

fix
  src/levanter/main/marin_eval_sliding_total.py
Due: ruff

wip fix
  src/levanter/main/marin_eval_sliding_total.py
Due: ruff

Path conditions:
  check-yaml: any of: \.(yml|yaml)$, but not: .git
  check-toml: any of: \.toml$, but not: .git
  ruff: any of: \.py$, but not: .git
