Repository stanford-crfm/levanter: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-toml, ruff

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: ".git"
default_stages:
    - pre-commit
fail_fast: true

repos:
-  repo: local
   hooks:
   -  id: trailing-whitespace
      name: trailing-whitespace-fixer
      entry: trailing-whitespace-fixer
      language: python
      types: [text]
   -  id: end-of-file-fixer
      name: end-of-file-fixer
      entry: end-of-file-fixer
      language: python
      types: [text]
   -  id: check-yaml
      name: check-yaml
      entry: check-yaml
      language: python
      types: [text]
      files: \.(yml|yaml)$
      args: ["--unsafe"]
   -  id: check-toml
      name: check-toml
      entry: check-toml
      language: python
      types: [text]
      files: \.toml$
   -  id: check-merge-conflict
      name: check-merge-conflict
      entry: check-merge-conflict
      language: python
      types: [text]
   -  id: check-added-large-files
      name: check-added-large-files
      entry: check-added-large-files
      language: python
      types: [text]
   -  id: ruff
      name: ruff
      entry: ruff check
      language: system
      args: ["--fix", "--exit-non-zero-on-fix"]
      types: [python]
   -  id: mypy
      name: mypy
      entry: mypy src/levanter/trainer.py tests/test_config.py
      language: system
      pass_filenames: false
      args: ["--ignore-missing-imports", "--follow-imports=skip"]

#- repo: local
#  hooks:
#    - id: ty-check
#      name: ty-check
#      language: python
#      entry: ty check
#      pass_filenames: false
#      args: [--python=.venv/]
#      additional_dependencies: [ty]

Remove unused all-token extraction
  src/levanter/inference/jit_scheduler.py
Due: ruff

batched eval working for logits eval
  config/books/eval_careless_llama3.1_70b.yaml
  config/books/eval_careless_llama3.1_8b.yaml
  src/levanter/books/util.py
  src/levanter/main/eval_careless_lm.py
Due: check-yaml, ruff

fix integration workflow env
  .github/workflows/gpt2_small_itest.yaml
Due: none

toward turning JitScheduler into a queue
  src/levanter/inference/jit_scheduler.py
  src/levanter/inference/utils.py
  src/levanter/main/sample_lm.py
  tests/test_attention.py
  tests/test_llama_decode.py
Due: ruff

Fix GPT-2 integration workflow install (#1111)
  .github/workflows/gpt2_small_itest.yaml
Due: none

ok seems to work
  scripts/tpu_transfer_benchmark.py
  src/levanter/infra/ray_tpu.py
Due: ruff

Fix TPU test skipping logic (#1109)
  tests/test_ray_tpu.py
Due: ruff

wip decodestate
  src/levanter/inference/jit_scheduler.py
Due: ruff

Review fixes
  src/levanter/infra/ray_tpu.py
Due: ruff

Fixes
  src/levanter/infra/ray_tpu.py
Due: ruff

Implement stop sequence checking
  src/levanter/inference/jit_scheduler.py
  tests/inference/test_decode_state.py
Due: ruff

Refine DecodeState and planning
  docs/design/inference.md
  src/levanter/inference/jit_scheduler.py
  tests/inference/test_decode_state.py
Due: ruff

Clean up TPU lockfile after killing task rather than before
  src/levanter/infra/ray_tpu.py
Due: ruff

Remove generated token buffer from scheduler
  docs/design/inference.md
  src/levanter/inference/jit_scheduler.py
  src/levanter/main/sample_lm.py
  tests/inference/test_decode_state.py
  tests/test_jit_scheduler.py
Due: ruff

wip
  src/levanter/infra/ray_tpu.py
Due: ruff

fix TPU lockfile issue
  src/levanter/infra/ray_tpu.py
Due: ruff

Fix health checks
  src/levanter/infra/ray_tpu.py
Due: ruff

Add timeout
  src/levanter/infra/ray_tpu.py
Due: ruff

Variable multislice
  src/levanter/infra/ray_tpu.py
Due: ruff

Add support for variable multislice
  src/levanter/infra/ray_tpu.py
Due: ruff

Moar fixes
  src/levanter/infra/ray_tpu.py
  tests/test_ray_tpu.py
Due: ruff

wip
  docs/design/inference.md
Due: none

linear histogram
  src/levanter/books/util.py
  src/levanter/main/eval_careless_lm.py
Due: ruff

Use DataLoader in careless LM eval (#1103)
  config/books/eval_careless_llama3.1_70b.yaml
  config/books/eval_careless_llama3.1_8b.yaml
  src/levanter/books/util.py
  src/levanter/main/eval_careless_lm.py
Due: check-yaml, ruff

5 books and configs
  config/books/eval_careless_llama3.1_70b_curious_incident.yaml
  config/books/eval_careless_llama3.1_70b_gatsby.yaml
  config/books/eval_careless_llama3.1_70b_hp1.yaml
  config/books/eval_careless_llama3.1_70b_this_is_how_you_lose_her.yaml
  config/books/eval_careless_llama3.1_70b_we_were_eight_years.yaml
  original_sliding_tp.py
  tests/test_llama_prefix.py
  tests/test_loading_precision.py
Due: check-yaml, ruff

5 books and configs
  config/books/eval_careless_llama3.1_70b_curious_incident.yaml
  config/books/eval_careless_llama3.1_70b_gatsby.yaml
  config/books/eval_careless_llama3.1_70b_hp1.yaml
  config/books/eval_careless_llama3.1_70b_this_is_how_you_lose_her.yaml
  config/books/eval_careless_llama3.1_70b_we_were_eight_years.yaml
  original_sliding_tp.py
  src/levanter/data/books/curious_incident_of_the_dog_in_the_nighttime.txt
  src/levanter/data/books/hp1.txt
  src/levanter/data/books/this_is_how_you_lose_her.txt
  src/levanter/data/books/we_were_eight_years_in_power.txt
  tests/test_llama_prefix.py
  tests/test_loading_precision.py
Due: check-yaml, ruff

remove files
  sliding_logits.py
Due: none

Add token-mode evaluation option
  config/books/eval_careless_llama3.1_70b_gatsby.yaml
  src/levanter/books/util.py
  src/levanter/main/eval_careless_lm.py
Due: check-yaml, ruff

Fix averaging docs and add epsilon
  docs/reference/Configuration.md
  src/levanter/optim/__init__.py
  src/levanter/optim/model_averaging.py
  tests/test_model_averaging.py
Due: ruff

Implement streaming 1-sqrt model averaging
  src/levanter/optim/model_averaging.py
  tests/test_model_averaging.py
Due: ruff
