Repository stanford-crfm/levanter: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-toml, ruff

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: ".git"
default_stages:
    - pre-commit
fail_fast: true

repos:
-  repo: local
   hooks:
   -  id: trailing-whitespace
      name: trailing-whitespace-fixer
      entry: trailing-whitespace-fixer
      language: python
      types: [text]
   -  id: end-of-file-fixer
      name: end-of-file-fixer
      entry: end-of-file-fixer
      language: python
      types: [text]
   -  id: check-yaml
      name: check-yaml
      entry: check-yaml
      language: python
      types: [text]
      files: \.(yml|yaml)$
      args: ["--unsafe"]
   -  id: check-toml
      name: check-toml
      entry: check-toml
      language: python
      types: [text]
      files: \.toml$
   -  id: check-merge-conflict
      name: check-merge-conflict
      entry: check-merge-conflict
      language: python
      types: [text]
   -  id: check-added-large-files
      name: check-added-large-files
      entry: check-added-large-files
      language: python
      types: [text]
   -  id: ruff
      name: ruff
      entry: ruff check
      language: system
      args: ["--fix", "--exit-non-zero-on-fix"]
      types: [python]
   -  id: mypy
      name: mypy
      entry: mypy src/levanter/trainer.py tests/test_config.py
      language: system
      pass_filenames: false
      args: ["--ignore-missing-imports", "--follow-imports=skip"]

#- repo: local
#  hooks:
#    - id: ty-check
#      name: ty-check
#      language: python
#      entry: ty check
#      pass_filenames: false
#      args: [--python=.venv/]
#      additional_dependencies: [ty]

fix import
  src/levanter/main/dpo.py
Due: ruff

refactor: drop KvPageState
  src/levanter/layers/attention.py
  src/levanter/main/sample_lm.py
  src/levanter/models/llama.py
  tests/test_attention.py
  tests/test_llama_decode.py
Due: ruff

Remove KvPageState wrapper (#1051)
  src/levanter/layers/attention.py
  src/levanter/main/sample_lm.py
  src/levanter/models/llama.py
  tests/test_attention.py
  tests/test_llama_decode.py
Due: ruff

closer?
  .github/workflows/tpu_unit_tests.yaml
  pyproject.toml
  uv.lock
Due: check-toml

jax versions
  .github/workflows/run_tests.yaml
Due: none

fix sampling after prefill
  src/levanter/main/sample_lm.py
Due: ruff

Fix sampling step after prefill (#1052)
  src/levanter/main/sample_lm.py
Due: ruff

blech
  .github/workflows/run_entry_tests.yaml
  .github/workflows/run_tests.yaml
Due: none

this
  .github/workflows/run_tests.yaml
Due: none

oops
  .github/workflows/run_tests.yaml
Due: none

this?
  .github/workflows/run_tests.yaml
Due: none

oops forgot uv
  .github/workflows/run_tests.yaml
Due: none

ok maybe we're good?
  .github/workflows/run_entry_tests.yaml
  .github/workflows/run_ray_tests.yaml
  .github/workflows/run_tests.yaml
  pyproject.toml
Due: check-toml

ok this is looking better
  .github/workflows/run_entry_tests.yaml
  .github/workflows/run_ray_tests.yaml
  .github/workflows/run_tests.yaml
  pyproject.toml
  uv.lock
Due: check-toml

ok let's try this for tpu
  infra/helpers/setup-tpu-vm-tests.sh
Due: none

chore(ci): adopt uv setup best practices
  .github/workflows/gpt2_small_itest.yaml
  .github/workflows/run_entry_tests.yaml
  .github/workflows/run_pre_commit.yaml
  .github/workflows/run_ray_tests.yaml
  .github/workflows/run_tests.yaml
Due: none

Tree of actors implementation of Ray TPU scheduling
  src/levanter/infra/ray_tpu_v2.py
Due: ruff

what
  infra/helpers/setup-tpu-vm-tests.sh
Due: none

fix workflows: install python and update guidelines
  .github/workflows/gpt2_small_itest.yaml
  .github/workflows/run_entry_tests.yaml
  .github/workflows/run_pre_commit.yaml
  .github/workflows/run_ray_tests.yaml
  .github/workflows/run_tests.yaml
  AGENTS.md
Due: none

pre-commit?
  .github/workflows/run_pre_commit.yaml
Due: none

ok i think this is right
  .github/workflows/run_pre_commit.yaml
Due: none

fixes
  pyproject.toml
  src/levanter/__init__.py
  src/levanter/callbacks/__init__.py
  src/levanter/infra/tpus.py
  src/levanter/layers/attention.py
  src/levanter/main/sample_lm.py
Due: check-toml, ruff

regression in paged attention :(
  config/sample/sample_8b.yaml
  src/levanter/layers/attention.py
  src/levanter/main/sample_lm.py
  tests/test_paged_attention.py
Due: check-yaml, ruff

test: avoid gpt2 downloads
  tests/conftest.py
  tests/test_sft.py
  tests/test_supervised.py
  tests/test_text.py
Due: ruff

regression in paged attention :(
  pyproject.toml
  src/levanter/layers/attention.py
  tests/test_paged_attention.py
  uv.lock
Due: check-toml, ruff

jit multiple token decode
  src/levanter/main/sample_lm.py
Due: ruff

fix missing import
  tests/test_text.py
Due: ruff

Fix default soft_cap for ragged_paged_attention
  src/levanter/layers/attention.py
Due: ruff

Fix ragged_paged_attention default soft_cap (#1057)
  src/levanter/layers/attention.py
Due: ruff

Avoid network downloads in tests (#1055)
  tests/conftest.py
  tests/test_sft.py
  tests/test_supervised.py
  tests/test_text.py
Due: ruff

Update CI to use uv best practices (#1053)
  .github/workflows/gpt2_small_itest.yaml
  .github/workflows/run_entry_tests.yaml
  .github/workflows/run_pre_commit.yaml
  .github/workflows/run_ray_tests.yaml
  .github/workflows/run_tests.yaml
  AGENTS.md
Due: none

refactor: replace deprecated PositionalSharding
  src/levanter/utils/jax_utils.py
  tests/test_attention.py
  tests/test_grad_accum.py
Due: ruff

Update sharding helper to avoid deprecated JAX API (#1058)
  src/levanter/utils/jax_utils.py
  tests/test_attention.py
  tests/test_grad_accum.py
Due: ruff

Fix query head flattening for TPU ragged paged attention
  src/levanter/layers/attention.py
Due: ruff

Fix TPU ragged_paged_attention head flattening (#1059)
  src/levanter/layers/attention.py
Due: ruff

wip
  src/levanter/layers/attention.py
Due: ruff
