Repository stanford-crfm/levanter: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-toml, ruff

check-yaml:
  name: check-yaml
  entry: check-yaml
  language: python
  args:
  - --unsafe

check-toml:
  name: check-toml
  entry: check-toml
  language: python

ruff:
  name: ruff
  entry: ruff check
  language: system
  args:
  - --fix
  - --exit-non-zero-on-fix

Make rotary config fields static
  src/levanter/layers/rotary.py
Due: ruff

Make rotary config fields static (#1070)
  src/levanter/layers/rotary.py
Due: ruff

uv
  uv.lock
Due: none

Remove placement group usage in ray TPU
  src/levanter/infra/ray_tpu.py
Due: ruff

Fixes for ray tests with uv (#1042)
  .github/workflows/gpt2_small_itest.yaml
  .github/workflows/run_entry_tests.yaml
  .github/workflows/run_pre_commit.yaml
  .github/workflows/run_ray_tests.yaml
  .github/workflows/run_tests.yaml
  AGENTS.md
  infra/helpers/setup-tpu-vm-tests.sh
  infra/run.sh
  pyproject.toml
  src/levanter/trainer.py
  tests/test_audio.py
  uv.lock
Due: check-toml, ruff

fixes to rayresources with memory, CPUs, etc.
  src/levanter/infra/ray_tpu.py
  src/levanter/utils/ray_utils.py
  tests/test_ray_utils.py
Due: ruff

almost there!
  src/levanter/inference/jit_scheduler.py
  src/levanter/layers/page_table.py
  src/levanter/main/sample_lm.py
  tests/test_page_table.py
Due: ruff

Remove obsolete test requirements
  AGENTS.md
  infra/helpers/setup-tpu-vm-tests.sh
Due: none

lock
  uv.lock
Due: none

oops
  pyproject.toml
Due: check-toml

sigh
  pyproject.toml
Due: check-toml

fix commit checkout in tpu test setup
  infra/helpers/setup-tpu-vm-tests.sh
Due: none

Fix setup script commit checkout (#1073)
  infra/helpers/setup-tpu-vm-tests.sh
Due: none

Make batch scheduler max tokens configurable
  src/levanter/main/batch_sample_lm.py
Due: ruff

fix jit scheduler packing
  src/levanter/inference/jit_scheduler.py
  tests/test_jit_scheduler.py
Due: ruff

Install uv before using in TPU setup
  AGENTS.md
  infra/helpers/setup-tpu-vm-tests.sh
Due: none

Improve dataset token logging callback
  src/levanter/callbacks/__init__.py
  src/levanter/callbacks/_metrics.py
  src/levanter/main/train_lm.py
Due: ruff

ckpting when developing implicit shampoo
  infra/babysit-tpu-vm.sh
  rm_cache.sh
  run_mudam.sh
  run_mudam2.sh
  run_mudam3.sh
  run_mudam_block.sh
  run_mudam_ext_lr.sh
  run_mudam_high_lr.sh
  run_mudam_wmp.sh
  run_shamdan.sh
  run_shamdan_sb.sh
  run_shampoo.sh
  run_shampoo2.sh
  run_shampoo3.sh
  run_shampoo3_lr2e-3.sh
  run_shampoo4.sh
  run_shampoo5.sh
  run_shampoo6.sh
  run_shampoo8.sh
  run_shampoo9.sh
  src/levanter/infra/ray_tpu.py
  src/levanter/optim/__init__.py
  src/levanter/optim/mudam2.py
  src/levanter/optim/mudam3.py
  src/levanter/optim/muon.py
  src/levanter/optim/muon_new.py
  src/levanter/optim/shamdan.py
  src/levanter/optim/shampoo.py
  src/levanter/optim/shampoo2.py
  src/levanter/optim/shampoo3.py
  src/levanter/optim/shampoo4.py
  src/levanter/optim/shampoo5.py
  src/levanter/optim/shampoo6.py
  src/levanter/optim/shampoo7.py
  src/levanter/optim/shampoo8.py
  src/levanter/optim/shampoo9.py
Due: ruff

the shutdown method was removed
  src/levanter/infra/ray_tpu.py
Due: ruff

gclud now seems to require this for preemptible tpus
  src/levanter/infra/tpus.py
Due: ruff

fix_tpu_tests
  infra/helpers/setup-tpu-vm-tests.sh
  scripts/launch_gpt2_small_fast_tpu.sh
  src/levanter/trainer.py
Due: ruff

think we got it
  infra/helpers/setup-tpu-vm-tests.sh
  infra/helpers/setup-tpu-vm.sh
Due: none

fix_tpu_tests (#1079)
  infra/helpers/setup-tpu-vm-tests.sh
  infra/helpers/setup-tpu-vm.sh
  scripts/launch_gpt2_small_fast_tpu.sh
  src/levanter/trainer.py
Due: ruff

gclud now seems to require provisioning-model for preemptible tpus (#1078)
  src/levanter/infra/tpus.py
Due: ruff

freeze optimizer dataclasses
  src/levanter/optim/adam_mini.py
  src/levanter/optim/adopt.py
  src/levanter/optim/cautious.py
  src/levanter/optim/clip_update_norm.py
  src/levanter/optim/config.py
  src/levanter/optim/kron.py
  src/levanter/optim/mars.py
  src/levanter/optim/model_averaging.py
  src/levanter/optim/muon.py
  src/levanter/optim/rmsprop.py
  src/levanter/optim/scion.py
  src/levanter/optim/skipstep.py
  src/levanter/optim/soap.py
  src/levanter/optim/sophia.py
Due: ruff

maybe this is better for uv
  .github/workflows/gpt2_small_itest.yaml
Due: none

Freeze LayerNorm configs
  src/levanter/layers/normalization.py
  src/levanter/models/gemma.py
Due: ruff

freeze dataclasses in text module
  src/levanter/data/text.py
Due: ruff

Simplify pack_next_sequence
  src/levanter/inference/jit_scheduler.py
  tests/test_jit_scheduler.py
Due: ruff

Freeze LayerNormConfigBase classes (#1081)
  src/levanter/layers/normalization.py
  src/levanter/models/gemma.py
Due: ruff

Freeze optimizer dataclasses (#1080)
  src/levanter/optim/adam_mini.py
  src/levanter/optim/adopt.py
  src/levanter/optim/cautious.py
  src/levanter/optim/clip_update_norm.py
  src/levanter/optim/config.py
  src/levanter/optim/kron.py
  src/levanter/optim/mars.py
  src/levanter/optim/model_averaging.py
  src/levanter/optim/muon.py
  src/levanter/optim/rmsprop.py
  src/levanter/optim/scion.py
  src/levanter/optim/skipstep.py
  src/levanter/optim/soap.py
  src/levanter/optim/sophia.py
Due: ruff

Include Kimi style muon learning rate scaling
  src/levanter/optim/muon.py
Due: ruff

Path conditions:
  check-yaml: any of: \.(yml|yaml)$, but not: .git
  check-toml: any of: \.toml$, but not: .git
  ruff: any of: \.py$, but not: .git
