Repository stanford-crfm/levanter: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-toml, ruff

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: ".git"
default_stages:
    - pre-commit
fail_fast: true

repos:
-  repo: local
   hooks:
   -  id: trailing-whitespace
      name: trailing-whitespace-fixer
      entry: trailing-whitespace-fixer
      language: python
      types: [text]
   -  id: end-of-file-fixer
      name: end-of-file-fixer
      entry: end-of-file-fixer
      language: python
      types: [text]
   -  id: check-yaml
      name: check-yaml
      entry: check-yaml
      language: python
      types: [text]
      files: \.(yml|yaml)$
      args: ["--unsafe"]
   -  id: check-toml
      name: check-toml
      entry: check-toml
      language: python
      types: [text]
      files: \.toml$
   -  id: check-merge-conflict
      name: check-merge-conflict
      entry: check-merge-conflict
      language: python
      types: [text]
   -  id: check-added-large-files
      name: check-added-large-files
      entry: check-added-large-files
      language: python
      types: [text]
   -  id: ruff
      name: ruff
      entry: ruff check
      language: system
      args: ["--fix", "--exit-non-zero-on-fix"]
      types: [python]
   -  id: mypy
      name: mypy
      entry: mypy src/levanter/trainer.py tests/test_config.py
      language: system
      pass_filenames: false
      args: ["--ignore-missing-imports", "--follow-imports=skip"]

#- repo: local
#  hooks:
#    - id: ty-check
#      name: ty-check
#      language: python
#      entry: ty check
#      pass_filenames: false
#      args: [--python=.venv/]
#      additional_dependencies: [ty]

Revert Run on Pod Head Change (#1101)
  src/levanter/infra/ray_tpu.py
Due: ruff

wip
  scripts/tpu_transfer_benchmark.py
  src/levanter/infra/ray_tpu.py
  uv.lock
Due: ruff

getting heatmap plots on levanter
  config/books/eval_careless_llama3.1_70b.yaml
  config/books/eval_careless_llama3.1_8b.yaml
  src/levanter/main/eval_careless_lm.py
Due: check-yaml, ruff

working, kind of
  src/levanter/infra/ray_tpu.py
Due: ruff

Fixes
  src/levanter/infra/ray_tpu.py
Due: ruff

Fix runtime environment
  src/levanter/infra/ray_tpu.py
  tests/test_ray_tpu.py
Due: ruff

Everything working
  src/levanter/infra/ray_tpu.py
Due: ruff

Refactor
  src/levanter/infra/ray_tpu.py
Due: ruff

Switch from placement groups to tree of actors for TPU
  src/levanter/infra/ray_tpu.py
  tests/test_ray_tpu.py
Due: ruff

fix padding bug
  config/books/eval_careless_llama3.1_70b.yaml
  config/books/eval_careless_llama3.1_8b.yaml
  config/books/eval_llama3.1_8b.yaml
  src/levanter/main/eval_careless_lm.py
Due: check-yaml, ruff

add histogram now
  config/books/eval_careless_llama3.1_70b.yaml
  config/books/eval_careless_llama3.1_8b.yaml
  src/levanter/books/util.py
  src/levanter/main/eval_careless_lm.py
Due: check-yaml, ruff

Improve eval script with DataLoader and batching
  src/levanter/main/eval_careless_lm.py
Due: ruff

Use DataLoader in careless LM eval
  src/levanter/main/eval_careless_lm.py
Due: ruff

Improve careless LM evaluation
  src/levanter/main/eval_careless_lm.py
Due: ruff

Vectorize extract_generated_tokens
  src/levanter/inference/jit_scheduler.py
Due: ruff

Use extract_generated_tokens in sample_lm
  src/levanter/main/sample_lm.py
Due: ruff

Update AGENTS: clarify jit safety rules (#1099)
  AGENTS.md
Due: none

Fix test warnings from equinox deprecations
  tests/test_sft.py
  tests/test_utils.py
Due: ruff

Add mixture cache subsampling utility
  src/levanter/data/subsample_mixture_cache.py
Due: ruff

Fix warnings
  tests/test_sft.py
  tests/test_utils.py
Due: ruff

export SkipStepConfig in optim init
  src/levanter/optim/__init__.py
Due: ruff

fix TPU test skip logic
  tests/test_ray_tpu.py
Due: ruff

Fix docs by re-exporting SkipStepConfig (#1108)
  src/levanter/optim/__init__.py
Due: ruff

Fix test warnings (#1107)
  tests/test_sft.py
  tests/test_utils.py
Due: ruff

Fix GPT-2 integration test workflow
  .github/workflows/gpt2_small_itest.yaml
Due: none

Fix GPT-2 integration workflow install (#1110)
  .github/workflows/gpt2_small_itest.yaml
Due: none
