Repository stanford-crfm/levanter: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-toml, ruff

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: ".git"
default_stages:
    - pre-commit
fail_fast: true

repos:
-  repo: local
   hooks:
   -  id: trailing-whitespace
      name: trailing-whitespace-fixer
      entry: trailing-whitespace-fixer
      language: python
      types: [text]
   -  id: end-of-file-fixer
      name: end-of-file-fixer
      entry: end-of-file-fixer
      language: python
      types: [text]
   -  id: check-yaml
      name: check-yaml
      entry: check-yaml
      language: python
      types: [text]
      files: \.(yml|yaml)$
      args: ["--unsafe"]
   -  id: check-toml
      name: check-toml
      entry: check-toml
      language: python
      types: [text]
      files: \.toml$
   -  id: check-merge-conflict
      name: check-merge-conflict
      entry: check-merge-conflict
      language: python
      types: [text]
   -  id: check-added-large-files
      name: check-added-large-files
      entry: check-added-large-files
      language: python
      types: [text]
   -  id: ruff
      name: ruff
      entry: ruff check
      language: system
      args: ["--fix", "--exit-non-zero-on-fix"]
      types: [python]
   -  id: mypy
      name: mypy
      entry: mypy src/levanter/trainer.py tests/test_config.py
      language: system
      pass_filenames: false
      args: ["--ignore-missing-imports", "--follow-imports=skip"]

#- repo: local
#  hooks:
#    - id: ty-check
#      name: ty-check
#      language: python
#      entry: ty check
#      pass_filenames: false
#      args: [--python=.venv/]
#      additional_dependencies: [ty]

oops
  docker/tpu/Dockerfile.incremental
Due: none

dependency groups
  pyproject.toml
  uv.lock
Due: check-toml

more uv
  .github/workflows/run_entry_tests.yaml
  .github/workflows/run_ray_tests.yaml
  .github/workflows/run_tests.yaml
  infra/helpers/setup-tpu-vm-tests.sh
Due: none

Fix slurm process count fallback
  src/levanter/distributed.py
Due: ruff

Fix Slurm get_process_count (#1043)
  src/levanter/distributed.py
Due: ruff

don't crash if it's a fake git repo (e.g. a worktree)
  src/levanter/tracker/wandb.py
Due: ruff

will/vanished
  src/levanter/models/llama.py
Due: ruff

Fix Resize Embeddings (#1044)
  src/levanter/models/llama.py
Due: ruff

fix tpu tests?
  infra/run.sh
Due: none

wip
  src/levanter/layers/attention.py
  src/levanter/models/llama.py
Due: ruff

uv
  .github/workflows/tpu_unit_tests.yaml
Due: none

ok basic decode works!
  pyproject.toml
  src/levanter/layers/attention.py
  src/levanter/models/llama.py
  tests/test_attention.py
  tests/test_llama_decode.py
  tests/test_page_table.py
  uv.lock
Due: check-toml, ruff

more uv?
  infra/helpers/setup-tpu-vm-tests.sh
Due: none

extras tpu for uv
  infra/helpers/setup-tpu-vm-tests.sh
Due: none

Add paged decode tests for llama
  tests/test_llama_decode.py
Due: ruff

Catch "already exists" error from placement_group
  src/levanter/infra/ray_tpu.py
Due: ruff

Add additional Llama paged decode tests (#1045)
  tests/test_llama_decode.py
Due: ruff

volkswagen
  tests/test_audio.py
Due: ruff

Fix exception variable assignment
  src/levanter/infra/ray_tpu.py
Due: ruff

simple sampler
  src/levanter/layers/sampler.py
  tests/test_sampler.py
Due: ruff

test AR decode!
  src/levanter/models/llama.py
  tests/test_llama_decode.py
Due: ruff

Catch "already exists" error from placement_group (#1046)
  src/levanter/infra/ray_tpu.py
Due: ruff

Refactor paged attention helper
  src/levanter/layers/attention.py
Due: ruff

Add helper for ragged paged attention (#1047)
  src/levanter/layers/attention.py
Due: ruff

ok ray maybe won't hang anymore
  pyproject.toml
  src/levanter/main/train_lm.py
  src/levanter/trainer.py
  uv.lock
Due: check-toml, ruff

refactor: extract PageTable
  src/levanter/layers/__init__.py
  src/levanter/layers/attention.py
  src/levanter/layers/page_table.py
  src/levanter/models/llama.py
  tests/test_attention.py
  tests/test_llama_decode.py
  tests/test_page_table.py
Due: ruff

Add sample_lm script
  src/levanter/main/sample_lm.py
Due: ruff

Update train_lm.py
  src/levanter/main/train_lm.py
Due: ruff

Add text sampling script (#1049)
  src/levanter/main/sample_lm.py
Due: ruff

Move PageTable to dedicated module (#1048)
  src/levanter/layers/__init__.py
  src/levanter/layers/attention.py
  src/levanter/layers/page_table.py
  src/levanter/models/llama.py
  tests/test_attention.py
  tests/test_llama_decode.py
  tests/test_page_table.py
Due: ruff

Add dev extra and default groups
  pyproject.toml
Due: check-toml

wip
  tests/test_paged_attention.py
  uv.lock
Due: ruff

silly
  src/levanter/layers/attention.py
Due: ruff

ok shockingly close
  src/levanter/main/sample_lm.py
Due: ruff
