Repository stanford-crfm/levanter: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-toml, ruff

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: ".git"
default_stages:
    - pre-commit
fail_fast: true

repos:
-  repo: local
   hooks:
   -  id: trailing-whitespace
      name: trailing-whitespace-fixer
      entry: trailing-whitespace-fixer
      language: python
      types: [text]
   -  id: end-of-file-fixer
      name: end-of-file-fixer
      entry: end-of-file-fixer
      language: python
      types: [text]
   -  id: check-yaml
      name: check-yaml
      entry: check-yaml
      language: python
      types: [text]
      files: \.(yml|yaml)$
      args: ["--unsafe"]
   -  id: check-toml
      name: check-toml
      entry: check-toml
      language: python
      types: [text]
      files: \.toml$
   -  id: check-merge-conflict
      name: check-merge-conflict
      entry: check-merge-conflict
      language: python
      types: [text]
   -  id: check-added-large-files
      name: check-added-large-files
      entry: check-added-large-files
      language: python
      types: [text]
   -  id: ruff
      name: ruff
      entry: ruff check
      language: system
      args: ["--fix", "--exit-non-zero-on-fix"]
      types: [python]
   -  id: mypy
      name: mypy
      entry: mypy src/levanter/trainer.py tests/test_config.py
      language: system
      pass_filenames: false
      args: ["--ignore-missing-imports", "--follow-imports=skip"]

#- repo: local
#  hooks:
#    - id: ty-check
#      name: ty-check
#      language: python
#      entry: ty check
#      pass_filenames: false
#      args: [--python=.venv/]
#      additional_dependencies: [ty]

Wait after cancelling tasks
  src/levanter/infra/ray_tpu.py
  tests/test_ray_tpu.py
Due: ruff

Fix type
  src/levanter/infra/ray_tpu.py
Due: ruff

Recursive
  src/levanter/infra/ray_tpu.py
Due: ruff

Implement Multi-head Latent Attention (MLA) option (#1091)
  src/levanter/layers/attention.py
  tests/test_latent_attention.py
Due: ruff

Undo test retry change
  tests/test_ray_tpu.py
Due: ruff

simple serving
  .agents/projects/inference.md
  pyproject.toml
  src/levanter/inference/jit_scheduler.py
  src/levanter/serve/__init__.py
  src/levanter/serve/min_server.py
  uv.lock
Due: check-toml, ruff

simple serving
  src/levanter/inference/service.py
Due: ruff

todos
  .agents/projects/inference.md
  src/levanter/serve/min_server.py
Due: ruff

Fix validation and typing
  src/levanter/infra/ray_tpu.py
Due: ruff

Update comment
  src/levanter/infra/ray_tpu.py
Due: ruff

Adjust timeouts and intervals
  src/levanter/infra/ray_tpu.py
Due: ruff

Typo
  src/levanter/infra/ray_tpu.py
Due: ruff

fixes for qwen and llama test
  pyproject.toml
  src/levanter/layers/attention.py
  src/levanter/models/llama.py
  src/levanter/models/qwen.py
  tests/test_llama.py
Due: check-toml, ruff

fix best effort sharding
  src/levanter/utils/jax_utils.py
Due: ruff

constrain transformers but update it enough to include qwen3
  pyproject.toml
Due: check-toml

bump transformers
  pyproject.toml
Due: check-toml

it works!
  .agents/projects/inference.md
  pyproject.toml
  src/levanter/inference/jit_scheduler.py
  src/levanter/inference/service.py
  src/levanter/serve/min_server.py
Due: check-toml, ruff

jit warmup
  .agents/projects/inference.md
  docs/design/inference.md
  src/levanter/serve/min_server.py
Due: ruff

token counts
  .agents/projects/inference.md
  docs/design/inference.md
  src/levanter/inference/service.py
  src/levanter/serve/min_server.py
Due: ruff

hf gptoss
  hf_gpt_oss.py
Due: ruff

fix tests?
  src/levanter/models/gemma.py
  src/levanter/models/llama.py
  src/levanter/models/olmo.py
  tests/test_gemma.py
  tests/test_llama.py
  tests/test_olmo.py
Due: ruff

remove prints
  tests/test_gemma.py
  tests/test_llama.py
  tests/test_olmo.py
Due: ruff

test: add GPT-OSS roundtrip tests
  docs/gpt_oss.md
  src/levanter/models/gpt_oss.py
  tests/test_gpt_oss.py
Due: ruff

Add tests for GPT-OSS model
  docs/gpt_oss.md
  src/levanter/models/gpt_oss.py
  tests/test_gpt_oss.py
Due: ruff

test: add GPT-OSS config and HF roundtrip tests
  docs/gpt_oss.md
  src/levanter/models/gpt_oss.py
  tests/test_gpt_oss.py
Due: ruff

uv lock
  uv.lock
Due: none

look at that, a real integration test
  .agents/projects/inference.md
  docs/design/inference.md
  pyproject.toml
  src/levanter/inference/service.py
  tests/integration/conftest.py
  tests/integration/create_tiny_llama.py
  tests/integration/test_inference_server.py
  uv.lock
Due: check-toml, ruff

no emoji
  tests/integration/create_tiny_llama.py
Due: ruff

update todolist
  .agents/projects/inference.md
Due: none

Qwen fix (#1132)
  pyproject.toml
  src/levanter/layers/attention.py
  src/levanter/models/gemma.py
  src/levanter/models/llama.py
  src/levanter/models/olmo.py
  src/levanter/models/qwen.py
  src/levanter/utils/jax_utils.py
  tests/test_gemma.py
  tests/test_llama.py
  tests/test_olmo.py
  uv.lock
Due: check-toml, ruff
