Repository stanford-crfm/levanter: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-toml, ruff

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: ".git"
default_stages:
    - pre-commit
fail_fast: true

repos:
-  repo: local
   hooks:
   -  id: trailing-whitespace
      name: trailing-whitespace-fixer
      entry: trailing-whitespace-fixer
      language: python
      types: [text]
   -  id: end-of-file-fixer
      name: end-of-file-fixer
      entry: end-of-file-fixer
      language: python
      types: [text]
   -  id: check-yaml
      name: check-yaml
      entry: check-yaml
      language: python
      types: [text]
      files: \.(yml|yaml)$
      args: ["--unsafe"]
   -  id: check-toml
      name: check-toml
      entry: check-toml
      language: python
      types: [text]
      files: \.toml$
   -  id: check-merge-conflict
      name: check-merge-conflict
      entry: check-merge-conflict
      language: python
      types: [text]
   -  id: check-added-large-files
      name: check-added-large-files
      entry: check-added-large-files
      language: python
      types: [text]
   -  id: ruff
      name: ruff
      entry: ruff check
      language: system
      args: ["--fix", "--exit-non-zero-on-fix"]
      types: [python]
   -  id: mypy
      name: mypy
      entry: mypy src/levanter/trainer.py tests/test_config.py
      language: system
      pass_filenames: false
      args: ["--ignore-missing-imports", "--follow-imports=skip"]

#- repo: local
#  hooks:
#    - id: ty-check
#      name: ty-check
#      language: python
#      entry: ty check
#      pass_filenames: false
#      args: [--python=.venv/]
#      additional_dependencies: [ty]

Include Kimi style muon learning rate scaling
  src/levanter/optim/muon.py
Due: ruff

Update src/levanter/optim/muon.py
  src/levanter/optim/muon.py
Due: ruff

freeze dataset caching config
  src/levanter/distributed.py
  src/levanter/main/cache_dataset.py
Due: ruff

Freeze dataclasses in text.py (#1082)
  src/levanter/data/text.py
  src/levanter/distributed.py
  src/levanter/main/cache_dataset.py
Due: ruff

ci: check lockfile and allow unlocked sync
  .github/workflows/check_lockfile.yaml
  .github/workflows/run_entry_tests.yaml
  .github/workflows/run_tests.yaml
Due: none

Update CI to sync without lock and add lockfile check (#1087)
  .github/workflows/check_lockfile.yaml
  .github/workflows/run_entry_tests.yaml
  .github/workflows/run_tests.yaml
Due: none

tp on tpus working
  original_sliding_tp.py
Due: ruff

update lock
  uv.lock
Due: none

trainer: better error when no steps
  src/levanter/trainer.py
Due: ruff

Fix trainer missing info error (#1088)
  src/levanter/trainer.py
Due: ruff

Vairous fixes
  src/levanter/infra/ray_tpu.py
Due: ruff

More fixes
  src/levanter/infra/ray_tpu.py
Due: ruff

GetTimeoutError
  src/levanter/infra/ray_tpu.py
Due: ruff

docs: add planning guideline
  AGENTS.md
Due: none

Switch default examples to Llama
  .github/workflows/gpt2_small_itest.yaml
  README.md
  config/llama_small_fast_itest.yaml
  docs/Getting-Started-GPU.md
  docs/Getting-Started-Training.md
  docs/Levanter-1.0-Release.md
  scripts/launch_gpt2_small_fast_gpu.sh
  scripts/launch_gpt2_small_fast_supervised_tpu.sh
  scripts/launch_gpt2_small_fast_tpu.sh
  scripts/launch_gpt2_small_itest_tpu.sh
  src/levanter/main/eval_lm.py
  src/levanter/main/export_lm_to_hf.py
  src/levanter/main/train_lm.py
  src/levanter/main/viz_logprobs.py
  tests/test_eval_lm.py
  tests/test_lora.py
  tests/test_train_lm.py
  tests/test_viz_lm.py
Due: check-yaml, ruff

docs: add planning guideline (#1093)
  AGENTS.md
Due: none

Fix tests for Llama default
  tests/test_eval_lm.py
  tests/test_train_lm.py
  tests/test_viz_lm.py
Due: ruff

Add pytree packing utility (#1060)
  src/levanter/utils/tree_utils.py
  tests/test_pack_tree.py
Due: ruff

Update AGENTS.md
  AGENTS.md
Due: none

Update AGENTS.md (#1094)
  AGENTS.md
Due: none

use open llama checkpoint
  README.md
  config/data/dolma_olmo_paloma.yaml
  config/data/fineweb_llama_txt.yaml
  config/data/rpv1_llama.yaml
  config/llama2_7b.yaml
  config/llama2_7b_continued.yaml
  config/llama2_nano.yaml
  config/llama2_small_fast_mix.yaml
  config/llama_small_fast.yaml
  config/llama_small_fast_itest.yaml
  config/llama_small_fast_remat.yaml
  config/lora_llama2.yaml
  config/olmo/olmo_7b_repro.yaml
  docs/Fine-Tuning.md
  docs/Levanter-1.0-Release.md
  docs/LoRA.md
  docs/Training-On-Your-Data.md
  docs/dev/Port-Models.md
  docs/tutorials/Fine-Tuning-Semantic-Parsing.md
  examples/alpaca-lora/alpaca-lora-llama2.yaml
  examples/alpaca/alpaca-llama2.yaml
  examples/alpaca/alpaca.py
  examples/gsm8k-lora/gsm8k_lora.py
  examples/sft/alpaca-llama.yaml
  examples/sft/dolly-llama.yaml
  examples/sft/oasst-llama.yaml
  src/levanter/main/sft.py
  src/levanter/main/sft_mixture.py
  src/levanter/models/llama.py
  tests/test_hf_utils.py
  tests/test_llama.py
  tests/test_text.py
Due: check-yaml, ruff

Update docs/Training-On-Your-Data.md
  docs/Training-On-Your-Data.md
Due: none

dogfood!
  src/levanter/main/sft_mixture.py
Due: ruff

ok almost enough screwing around
  src/levanter/inference/jit_scheduler.py
  src/levanter/layers/page_table.py
  src/levanter/main/sample_lm.py
Due: ruff

Fixes
  src/levanter/infra/ray_tpu.py
Due: ruff
