Repository stanford-crfm/levanter: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-toml, ruff

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: ".git"
default_stages:
    - pre-commit
fail_fast: true

repos:
-  repo: local
   hooks:
   -  id: trailing-whitespace
      name: trailing-whitespace-fixer
      entry: trailing-whitespace-fixer
      language: python
      types: [text]
   -  id: end-of-file-fixer
      name: end-of-file-fixer
      entry: end-of-file-fixer
      language: python
      types: [text]
   -  id: check-yaml
      name: check-yaml
      entry: check-yaml
      language: python
      types: [text]
      files: \.(yml|yaml)$
      args: ["--unsafe"]
   -  id: check-toml
      name: check-toml
      entry: check-toml
      language: python
      types: [text]
      files: \.toml$
   -  id: check-merge-conflict
      name: check-merge-conflict
      entry: check-merge-conflict
      language: python
      types: [text]
   -  id: check-added-large-files
      name: check-added-large-files
      entry: check-added-large-files
      language: python
      types: [text]
   -  id: ruff
      name: ruff
      entry: ruff check
      language: system
      args: ["--fix", "--exit-non-zero-on-fix"]
      types: [python]
   -  id: mypy
      name: mypy
      entry: mypy src/levanter/trainer.py tests/test_config.py
      language: system
      pass_filenames: false
      args: ["--ignore-missing-imports", "--follow-imports=skip"]

#- repo: local
#  hooks:
#    - id: ty-check
#      name: ty-check
#      language: python
#      entry: ty check
#      pass_filenames: false
#      args: [--python=.venv/]
#      additional_dependencies: [ty]

Remove unnecessary test comment
  tests/test_ray_tpu.py
Due: ruff

Make scale_actor_pool private
  src/levanter/infra/ray_tpu.py
Due: ruff

crappy generate N
  src/levanter/inference/service.py
  src/levanter/serve/min_server.py
  tests/integration/test_inference_server.py
Due: ruff

docs: outline unified checkpoint strategy
  .projects/unified-checkpoints.md
Due: none

wip gpt oss
  config/gpt_oss_small_fast.yaml
  docs/gpt_oss.md
  src/levanter/models/gpt_oss.py
  tests/test_gpt_oss.py
Due: check-yaml, ruff

revert jax utils
  src/levanter/utils/jax_utils.py
Due: ruff

wip gpt oss model
  gpt_oss_checkpoint.md
  src/levanter/models/gpt_oss.py
  tests/test_gpt_oss.py
Due: ruff

apparently scan needs to change
  gpt_oss_checkpoint.md
  src/levanter/models/gpt_oss.py
  tests/test_gpt_oss.py
Due: ruff

narrowing things down
  src/levanter/models/gpt_oss.py
  tests/test_gpt_oss.py
Due: ruff

gpt oss but in block form
  src/levanter/models/gpt_oss.py
  tests/test_gpt_oss.py
Due: ruff

loading works but now I hit OOM
  config/gpt_oss_20b_finetune.yaml
  tests/test_gpt_oss.py
Due: check-yaml, ruff

revert to stacked approach
  config/gpt_oss_20b_finetune.yaml
  config/gpt_oss_small_fast.yaml
  src/levanter/models/gpt_oss.py
  src/levanter/models/test
Due: check-yaml, ruff

cherry pick didn't work so i copy pasted
  config/gpt_oss_20b_finetune.yaml
  config/gpt_oss_small_fast.yaml
  src/levanter/models/gpt_oss.py
Due: check-yaml, ruff

remove error log file
  src/levanter/models/test
Due: none

feat: refine trackio tracker
  docs/reference/Trackers.md
  pyproject.toml
  src/levanter/tracker/tracker_fns.py
  src/levanter/tracker/trackio.py
  tests/test_trackio.py
  uv.lock
Due: check-toml, ruff

Correctly handle num_cores < 8 and fail if no futures are scheduled.
  src/levanter/infra/ray_tpu.py
Due: ruff

wip
  .agents/projects/inference.md
  src/levanter/inference/service.py
  src/levanter/serve/min_server.py
  tests/integration/test_inference_server.py
Due: ruff

Add structured JSON logger tracker
  docs/reference/Trackers.md
  src/levanter/tracker/json_logger.py
  tests/test_json_logger.py
Due: ruff

Correctly handle num_cores < 8 and fail if no futures are scheduled. (#1140)
  src/levanter/infra/ray_tpu.py
Due: ruff

wow it kinda works
  .agents/projects/inference.md
  src/levanter/inference/service.py
  src/levanter/serve/min_server.py
Due: ruff

Add PolyNorm used by Motif https://huggingface.co/Motif-Technologies/Motif-2.6B/blob/main/modeling_motif.py
  src/levanter/utils/activation.py
  tests/test_activation.py
Due: ruff

UV Sync and Lock
  uv.lock
Due: none

Modular Transformer Draft
  src/levanter/models/modular_transformer.py
  tests/test_modular_transformer.py
Due: ruff

Some Helpers for Overrides
  src/levanter/models/modular_transformer.py
Due: ruff

Fix configuration guide reference
  README.md
Due: none

Fix configuration guide reference (#1144)
  README.md
Due: none

fix after merge
  src/levanter/inference/page_table.py
  src/levanter/layers/attention.py
  uv.lock
Due: ruff

fixes after merge
  pyproject.toml
  src/levanter/data/loader.py
  src/levanter/data/packing.py
  src/levanter/inference/jit_scheduler.py
  src/levanter/inference/service.py
  src/levanter/layers/attention.py
  src/levanter/models/flash_attention.py
  tests/inference/test_decode_state.py
  tests/test_gemma.py
  tests/test_llama.py
  tests/test_mistral.py
  tests/test_mixtral.py
  tests/test_paged_attention.py
  uv.lock
Due: check-toml, ruff

sigh
  tests/test_olmo.py
Due: ruff

mypy
  tests/integration/test_inference_server.py
Due: ruff

checking out some core code from inference
  docs/design/inference.md
  pyproject.toml
  src/levanter/data/packing.py
  src/levanter/inference/page_table.py
  src/levanter/inference/utils.py
  src/levanter/layers/attention.py
  src/levanter/models/flash_attention.py
  src/levanter/models/llama.py
  tests/inference/test_inference_utils.py
  tests/inference/test_page_table.py
  tests/inference/test_paged_attention.py
  tests/test_attention.py
Due: check-toml, ruff

docs: clarify TPU pod allocation comments
  src/levanter/infra/ray_tpu.py
Due: ruff

bring in jit_scheduler
  src/levanter/inference/jit_scheduler.py
  src/levanter/main/sample_lm.py
Due: ruff

and sampelr
  src/levanter/layers/sampler.py
Due: ruff

-> TokenQueue
  src/levanter/inference/jit_scheduler.py
  src/levanter/main/sample_lm.py
Due: ruff

make tokenqueue a member
  src/levanter/inference/jit_scheduler.py
  src/levanter/main/sample_lm.py
Due: ruff
